#wrapper{
    font-family: Arial;
    margin: 0 auto;
}
body { background-image:url('https://drive.google.com/uc?id=0B6Yp-3OGVxpFQWRLWWplREs4ck0');
}
header h1{
  text-align: center;
    background-color: #0000ff;
    color: black;
}
p{
    color: black;
}
nav li {
    list-style-type: none;
    display: inline;
}
nav ul{
    text-align: center;
}
article{
 border: 2px solid #000000;
    margin-left: 350px;
    margin-top:50px;
    padding: 14px;
    width: 410px;
    background-color: Blue;
    font-size: 18px;
}
article li {
     list-style-type: none;
     list-style-position: inside;
     border: 2px solid #000;
     margin: 8px 0;
     padding: 2px;
     height:38px;
     width: 350px;
}
article p{
    float : center;
}
 form{
      width: 150px;
 }
img {
    border: 5px solid;
    border-color: rgb(0,150,255);
    margin-left: 400px;
}

ul#navlist
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#navlist li
{
display: inline;
list-style-type: none;
}

#navlist a { padding: 3px 10px; }

#navlist a:link, #navlist a:visited
{
color: #fff;
background-color: #000;
text-decoration: none;
}

#navlist a:hover
{
color: #00f;
background-color: #000;
text-decoration: none;
}

@media screen and ( max-width: 992px) {
    #wrapper {
        width: 94%;
    }
    article{
        width: 68%;
    }
    
    aside{
        width: 30%;
    }
}

@media screen and (max-width: 768px) {

article{
 width: auto; 
 float: none;
}
}


@media screen and (max-width: 480px) {
    aside{
        display: none;
    }
}
#page-footer{
    clear: left;
}
